body {
  color: $gray;
  background-color: $white;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
}

::selection {
  color: $white;
  background-color: darken($color-primary, 5);
  text-shadow: none;
}

:focus {
  outline: 0;
}

.mark,
mark {
  border-bottom: 1px dashed rgba($color-primary, 0.4);
  background: transparent;
  padding: 0;
  color: $color-primary;
}

a:focus,
button:focus {
  outline: 0;
}

a {
  color: $gray;
  transition: all .3s;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $color-primary;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

p {
  color: $gray;
}

// preloader
// ====================================
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 9999;
  height: 100%;
  width: 100%;
}

// default styles
// ====================================
.section {
  padding: 120px 0;

  &-sm {
    padding: 90px 0;
  }
}


// social-links
// ====================================
.social-links {
  a {
    font-size: 18px;
    padding: 7px;
    color: rgba($black, .8);
    display: inline-block;

    &:hover {
      color: $color-primary;
    }
  }

  &.icon-box li a {
    height: 45px;
    width: 45px;
    line-height: 45px;
    border: 1px solid #ddd;
    padding: 0;
    @extend .rounded;
  }
}


// card style
// ====================================
.card.post-card {
  border-radius: 0px;
  border: 0;
  margin-bottom: 70px;
  
  .card-body {
    margin-top: 30px;
    padding: 0;
  }
}

.post-title {
  font-weight: 800;
  color: $dark;
  display: inline-block;
}

a.post-title:hover,
.post-title:hover a {
  color: $color-primary;
}

.card-meta {
  font-weight: 500;

  > li {
    line-height: 1;
    vertical-align: middle;
    span {
      color: $gray;
    }
  }

  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
  }

  .card-meta-author {
    display: inline-block;

    &:hover span {
      color: $color-primary;
    }

    img {
      border-radius: 50%;
      width: 26px;
      height: 26px;
      margin-right: 6px;
      object-fit: cover;
    }

    span {
      vertical-align: middle;
    }
  }

  .card-meta-tag {
    .list-inline-item:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      color: $gray;

      &::before {
        content: "#";
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

// taxonomies-list
// ====================================
.taxonomies-list {
  li a:hover {
    background-color: $color-primary !important;
    color: $white;
  }
}

// widget
// ====================================
.widget {
  margin-bottom: 35px;

  &-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration-color: #999;
  }

  .widget-list li a {
    padding: 10px 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    background-color: #f8f8f8;
  }

  .widget-list-inline li {
    margin-right: 3px;

    a {
      display: inline-block;
      padding: 5px 15px !important;
      margin-bottom: 5px !important;
    }
  }
}

// content style
// ====================================
.cookie-box {
  border-radius: 10px !important;
  .btn {
    border-radius: 8px;
    padding: 8px 20px;
  }
}

.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  details.table-of-content {
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 7px;

    ul {
      margin-top: 10px;
    }
  }

  .accordion {
    margin-bottom: 10px;
    border-radius: 6px;
    border-color: $border-color;
    &-collapse {
      border-top-color: $border-color;
    }
  }

  img {
    border-radius: 8px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  strong {
    font-weight: 600;
  }

  a {
    color: $text-color;
    border-bottom: 1px dotted $border-color;

    &:hover {
      color: $color-primary;
    }
  }

  ol,
  ul {
    padding-left: 1.25rem;

    li {
      margin-bottom: 0.62rem;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 1.25rem;
    list-style-type: none;

    li {
      padding-left: 1.25rem;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background: $color-primary;
        left: 3px;
        top: 0.5rem;
      }
    }

  }

  .quote i {
    font-size: 30px;
    margin-right: 20px;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-collapse: initial;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
    &:not(:last-child) {
      border-right: 1px solid $border-color !important;
    }
  }

  th {
    color: $black;
  }

  thead {
    background: $light;
    margin-bottom: 0;
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
    td {
      border-top: 1px solid $border-color !important;
    }
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .notices p {
    padding: 0.62rem;
    margin-bottom: 0;
  }

  .notices p::before {
    content: "\f05a";
    top: 2px;
    left: 0.62rem;
    color: $white;
    font-weight: 900;
    position: absolute;
    font-family: $font-icon;
    border: none;
  }

  .notices p::after {
    left: 2.2rem !important;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $light;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $light;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: $light;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $light;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  blockquote {
    color: $text-color;
    padding: 1.25rem 2.5rem;
    border-left: 2px solid $color-primary;
    margin: 2.5rem 0;
    font-weight: bold;
    background: $light;

    p {
      font-size: 1.25rem !important;
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 10px 16px;
    margin: 10px 0px 0.62rem;
    white-space: pre-wrap;
    border-radius: 8px;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

.tab-panel {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;

  .tab-nav {
    button {
      border: none;
    }
  }
  .tab-content {
    border: 0;
    border-top: 1px solid #e5e5e5;
    padding: 10px 15px;
  }
}

.glightbox img,
video,
iframe,
.embed-responsive {
  border-radius: 8px;
}

// pagination
// ====================================
.pagination {
  .page-link {
    padding: 0;
    margin-left: 0;
    color: $dark;
    border: 0;
    margin: 0 4px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;

    &.active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }

    &.arrow {
      font-size: 26px;
      width: auto;

      &:hover {
        color: $color-primary;
        background-color: $white;
      }
    }
  }

  .page-item.active {
    .page-link {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }
  }
}

// breadcrumb
// ====================================
.breadcrumb-menu {
  display: inline-block;
  padding-top: 18px;
  border-top: 1px solid $color-primary;
}

// form-control
// ====================================
.form-control {
  padding: 0;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0 !important;
  height: 50px;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
  transition: .3s ease;

  &:focus {
    box-shadow: none;
    color: $dark;
    border-color: $color-primary;

    ~.input-group-append {
      .input-group-text {
        border-color: $color-primary;
      }
    }
  }
}

textarea {
  resize: none;
  min-height: 150px !important;
}

.input-group-text {
  background-color: transparent;
  border-bottom: 1px solid #999;
  border-radius: 0 !important;
  transition: .3s ease;

  .icon {
    font-size: 22px;
  }
}

button {
  line-height: 1.75;
}

button.input-group-text {
  &:hover {
    color: $color-primary;
  }
}

.custom-control-label {
  user-select: none;
  cursor: text;
  line-height: 1.45;

  &::before {
    cursor: pointer;
    border-radius: 0;
    box-shadow: none !important;
  }
}

.custom-checkbox {
  margin-top: 15px;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked~.custom-control-label::before,
  .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: transparent;
  }

  .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba($color-primary, .5);
    border-color: rgba($color-primary, .2);
  }
}

/*------------------------------------------------------------------
 # helper classes
-------------------------------------------------------------------*/
.font-primary {
  font-family: $font-primary
}

.rounded {
  border-radius: 10px !important;
  overflow: hidden;
}

.fw-500 {
  font-weight: 500
}

.fw-700 {
  font-weight: 700
}

.fw-800 {
  font-weight: 800
}

.text-primary {
  color: $color-primary !important
}

a.text-primary:hover {
  color: darken($color-primary, 10) !important
}

.bg-primary {
  background-color: $color-primary !important
}

.text-dark {
  color: $dark
}

a.text-dark:hover {
  color: $color-primary !important
}

.bg-light {
  background-color: $light !important
}

.bg-dark {
  background-color: $dark !important
}

.text-gray:hover {
  color: $color-primary;
}

// footer
// ====================================
footer {
  background-color: $dark;

  .icon-box a {
    color: rgba($white, .7);

    &:hover {
      color: $white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}

.footer-menu {
  li a {
    color: rgba($white, .7);

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.copyright-text {
  color: rgba($white, .7);

  a {
    color: rgba($white, .7);
  }
}

// Accordions
// ====================================
.accordion {
  --bs-accordion-active-color: $text-dark;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-active-color: $text-dark;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: -1px;
  border: 1px solid rgba($text-dark, 0.5);

  &-button {
    box-shadow: none !important;
    padding: 10px 14px !important;
  }

  &-button::after {
    transform: scale(0.8);
  }

  &-button:not(.collapsed)::after {
    transform: scale(0.8) rotate(180deg);
  }

  &-item {
    border: none;
  }

  &-collapse {
    border-top: 1px solid $border-color;
  }
}

// Tab
.tab-nav .tab-nav-button {
  background-color: $light;
  margin-bottom: 0px;
  margin-left: 0px;
  border-bottom: 0px;
}

.tab-content {
  border: 1px solid $border-color;
  padding: 20px;
}

// Gallery
// ====================================
.gallery a {
  border: 0px;
}

// Remove Cross Icon form input type search
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}