body {
  color: $gray;
  background-color: $white;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
}

::selection {
  color: $white;
  background-color: darken($color-primary, 5);
  text-shadow: none;
}

:focus {
  outline: 0;
}

.mark,
mark {
  padding: 0 5px 4px;
  background-color: rgba($color-primary, .1);
}

/*------------------------------------------------------------------
 # preloader
-------------------------------------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 9999;
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------
 # default styles
-------------------------------------------------------------------*/
.section {
  padding: 120px 0;

  &-sm {
    padding: 90px 0;
  }
}

.section-title {
  h1 {
    font-size: $h1-lg;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    padding-top: 25px;

    @include desktop-xl {
      font-size: 42px;
    }

    @include tablet {
      font-size: 34px;
    }
  }
}


// social-links
.social-links {
  a {
    font-size: 18px;
    padding: 7px;
    color: rgba($black, .8);
    display: inline-block;

    &:hover {
      color: $color-primary;
    }
  }

  &.has-bg-color {
    a {
      padding: 7px 9px;
      color: $white;

      &:hover {
        opacity: .7;
      }
    }
  }
}


// card style
.card.post-card {
  border-radius: 0px;
  border: 0;
  // height: 100%;

  .card-body {
    padding: 0;
    padding-top: 30px;
    margin-bottom: 70px;
  }
}

.post-title {
  font-weight: 800;
  color: $dark;
  display: inline-block;
}

a.post-title:hover,
.post-title:hover a {
  color: $color-primary;
}

.card-meta {
  font-weight: 500;

  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
  }

  .card-meta-author {
    display: inline-block;

    &:hover {
      color: $color-primary;
    }

    img {
      border-radius: 50%;
      height: 26px;
      margin-right: 6px;
    }

    span {
      vertical-align: middle;
    }
  }

  .card-meta-tag {
    .list-inline-item:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      color: $dark;

      &:hover {
        color: $dark
      }

      &::before {
        content: "#";
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

// taxonomies-list
.taxonomies-list {
  li a:hover {
    background-color: $color-primary !important;
    color: $white;
  }
}


// content
.content {
  font-size: 17px;

  p {
    margin-bottom: 16px;
  }

  img {
    margin-bottom: 30px;
    @extend .rounded;
  }

  h2,
  h3,
  h4 {
    color: $dark;
    margin-bottom: 20px;
    font-weight: 700;
  }

  h3 {
    margin-top: 40px;
  }

  ol,
  ul {
    margin-bottom: 25px;
    padding-left: 5px;

    li {
      margin-bottom: 10px;
    }
  }

  img {
    margin-top: 10px;
    margin-bottom: 35px;
  }

  blockquote {
    padding: 20px 30px;
    border-left: 6px solid $color-primary;
    color: $dark;
    font-weight: 700;
    font-size: 22px;
    margin: 30px 0;
    border-radius: 5px;

    p {
      margin-bottom: 0;
    }
  }
}

// pagination
.pagination {
  .page-link {
    padding: 0;
    margin-left: 0;
    color: $dark;
    border: 0;
    margin: 0 4px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;

    &.active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }

    &.arrow {
      font-size: 26px;
      width: auto;

      &:hover {
        color: $color-primary;
        background-color: $white;
      }
    }
  }

  .page-item.active {
    .page-link {
      box-shadow: none;
      color: $white;
      background-color: $color-primary;
    }
  }
}

// breadcrumb
.breadcrumb-menu {
  display: inline-block;
  padding-top: 18px;
  border-top: 1px solid $color-primary;
}


// form-control
.form-control {
  padding: 0;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0 !important;
  height: 56px;
  padding: 12px 18px;
  font-size: 17px;
  font-weight: 500;
  transition: .3s ease;

  &:focus {
    box-shadow: none;
    color: $dark;
    border-color: $color-primary;

    ~.input-group-append {
      .input-group-text {
        border-color: $color-primary;
      }
    }
  }
}

textarea {
  resize: none;
}

.input-group-text {
  background-color: transparent;
  border-bottom: 1px solid #999;
  border-radius: 0 !important;
  transition: .3s ease;

  .icon {
    font-size: 22px;
  }
}

button.input-group-text {
  &:hover {
    color: $color-primary;
  }
}

.custom-control-label {
  user-select: none;
  cursor: text;
  line-height: 1.45;

  &::before {
    cursor: pointer;
    border-radius: 0;
    box-shadow: none !important;
  }
}

.custom-checkbox {
  margin-top: 15px;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked~.custom-control-label::before,
  .custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: transparent;
  }

  .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba($color-primary, .5);
    border-color: rgba($color-primary, .2);
  }
}

/*------------------------------------------------------------------
 # helper classes
-------------------------------------------------------------------*/
.font-primary {
  font-family: $font-primary
}

.rounded {
  border-radius: 10px !important;
  overflow: hidden;
}

.font-weight-500 {
  font-weight: 500
}

.font-weight-700 {
  font-weight: 700
}

.font-weight-800 {
  font-weight: 800
}

.font-weight-900 {
  font-weight: 900
}

.text-primary {
  color: $color-primary !important
}

a.text-primary:hover {
  color: darken($color-primary, 10) !important
}

.bg-primary {
  background-color: $color-primary !important
}

.text-dark {
  color: $dark
}

a.text-dark:hover {
  color: $color-primary !important
}

.bg-light {
  background-color: $light !important
}

.bg-dark {
  background-color: $dark !important
}


.text-black-100 {
  color: $black-100
}

.text-black-200 {
  color: $black-200
}

.text-black-300 {
  color: $black-300
}

.text-black-400 {
  color: $black-400
}

.text-black-500 {
  color: $black-500
}

.text-black-600 {
  color: $black-600
}

.text-black-700 {
  color: $black-700
}

.text-black-800 {
  color: $black-800
}

.text-black-900 {
  color: $black-900
}

a.text-black-200:hover,
a.text-black-300:hover,
a.text-black-500:hover,
a.text-black-700:hover {
  color: $color-primary
}