$font-primary: 'Lora', serif;
$font-secondary: 'Barlow', sans-serif;

$h1: 68px;
$h1-lg: 52px;
$h1-md: 40px;
$h2: 38px;
$h2-md: 30px;
$h3: 30px;
$h3-md: 22px;
$h4: 20px;
$h5: 18px;
$h6: 16px;

$white:#ffffff;
$black:#000000;
$dark:#152035;
$gray:#5e6675;
$light:#FAFAFA;
$color-primary:#FF3F3E;

$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;