$font-primary: 'Mulish', sans-serif;

$h1: 64px;
$h1-lg: 52px;
$h1-md: 42px;
$h2: 38px;
$h2-md: 30px;
$h3: 30px;
$h3-md: 24px;
$h4: 24px;
$h5: 18px;
$h6: 16px;

$white:#ffffff;
$black:#000000;
$dark:#152035;
$gray:#80848d;
$light:#FAFAFA;
$color-primary:#01AD9F;

$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;