/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'mixins';
@import 'variables';
@import 'typography';
@import 'buttons';
@import 'common';
@import 'templates/navigation';
@import 'templates/main';