{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <form action="{{site.Params.contact_form_action}}" method="post">
          <div class="mb-4">
            <label for="name" class="form-label">{{ i18n "name" }}</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">{{ i18n "email" }}</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">{{ i18n "subject" }}</label>
            <input type="text" class="form-control" id="subject" name="subject" required>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">{{ i18n "message"}}</label>
            <textarea class="form-control" id="message" rows="4" name="message" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary" aria-label="Send Message">{{ i18n "send_message"}}</button>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
