{{define "main"}}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}
{{ $category_name := .Title }}
{{ with site.Params.lightning_pills }} 
{{ if and (.enable) (eq $category_name .name) }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
            <div class="notice tip mt-4">
              <i class="notice-head lab la-cloudversify" style="font-size: 32px;"><p>&nbsp;{{ .name }}</p></i>
              <div class="notice-body"><p>{{ .text | markdownify }}</p></div>
            </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
{{end}}
<!-- TODO: Paginate it -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row">
          {{range .Data.Pages}}
          <div class="col-lg-12 mx-auto">
            {{.Render "post"}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ else }}

{{ partial "page-header.html" . }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{end}}