<article class="card post-card">
  <div class="row no-gutters align-items-top">
    <div class="col-lg-5">
      <div class="pr-0 pr-lg-5">
        {{if .Params.image}}
        <a href="{{.Permalink}}">
          {{ partial "image.html" (dict "Src" .Params.image "Class" "w-100 h-auto rounded" "Alt" .Title) }}
        </a>
        {{end}}
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card-body">
        <h5 class="text-dark mb-0">
          <a class="post-title" href="{{.Permalink}}">{{.Title}}</a>
        </h5>
        <ul class="card-meta list-inline mb-2">
          {{ if .Params.Author }}
          <li class="list-inline-item mb-2">
            {{ with site.GetPage (.Params.Author | urlize | lower) }}
            <a href="{{.Permalink}}" class="card-meta-author">
              {{if .Params.image}}
                {{ partial "image.html" (dict "Src" .Params.image "Size" "26x26" "Class" "w-auto" "Alt" .Title) }}
              {{else}}
                {{ partial "image.html" (dict "Src" "images/authors/unknown.png" "Size" "26x26" "Class" "w-auto" "Alt" .Title) }}
              {{end}}
              <span>{{ .Title }}</span>
            </a>
            {{ end }}
          </li>
          {{ end }}
          <li class="list-inline-item mb-2">
            <span>{{.PublishDate.Format "02 Jan, 2006"}}</span>
          </li>
          <li class="list-inline-item mb-2">
            <ul class="card-meta-tag list-inline">
              {{range .Params.tags}}
              <li class="list-inline-item"><a href="{{site.BaseURL}}tags/{{.| urlize}}">{{.}}</a></li>
              {{end}}
            </ul>
          </li>
        </ul>
        <p>{{ .Summary }}</p>
    
        <a href="{{.Permalink}}" aria-label="More on {{.Title}}">Read More <i class="las la-angle-right"></i></a>
      </div>
    </div>
  </div>
</article>