{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto mb-5">
        <div class="title-bordered">
          <h1 class="h3">Search results for
            <span class="mark">
              <script>
                var keyword = (window.location.search).substr(3);
                var result = keyword.replace("+", " ");
                document.write(result);
              </script>
            </span>
          </h1>
        </div>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row" id="search-results"></div>
        <script id="search-result-template" type="text/x-js-template">
          <article class="row align-items-center mb-4" id="id-${key}">
            <div class="col-md-5 mb-4">${image}</div>
            <div class="col-md-7 mb-4">
              <span class="d-inline-block mb-3">${date}</span>
              <h3 class="h4 mb-3">
                <a class="post-title" href="${link}">${title}</a>
              </h3>
              <p class="mb-0">${snippet}</p>
            </div>
          </article>
        </script>
      </div>
    </div>
  </div>
</section>

<!-- Search index -->
<script>var indexURL = {{"index.json" | absURL}}</script>

{{ end }}