<section  class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center">
        <div class="section-sm">
          <h2 class="mb-3 text-dark font-weight-bold">{{.Title | markdownify}}</h2>
          <ul class="list-inline breadcrumb-menu">
          {{ $url := replace .Permalink ( printf "%s" site.BaseURL) "" }}
          {{ $.Scratch.Add "path" site.BaseURL }}
          <li class="list-inline-item"><a href="{{site.BaseURL | relLangURL}}">Home</a></li>
          {{ range $index, $element := split $url "/" }}
          {{ $.Scratch.Add "path" $element }}
          {{ if (ne $element "") }}
          <li class="list-inline-item">/ &nbsp; <a href="{{ $.Scratch.Get `path` }}">{{ . | humanize }}</a></li>
          {{ $.Scratch.Add "path" "/" }}
          {{ end }}
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>