<!-- plugins + stylesheet -->
<link rel="preconnect" href="https://fonts.gstatic.com">
{{ $styles := slice }}
{{ range site.Params.plugins.css }}
{{ if findRE "^http" .link }}
<link rel="stylesheet" href="{{ .link | absURL }}">
{{ else }}
{{ $styles = $styles | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ $styles := $styles | append (resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify) }}
{{ $styles := $styles | resources.Concat "/css/vendor.css" | minify | fingerprint "sha512" }}
<style type="text/css">{{$styles.Content | safeCSS}}</style>